@media (max-width:1000px){
    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1; 
        width: 373px;
        background-color: black;
        padding: 0;
    }
    .songinfo, .songtime{
        width: auto;
    }
    .left .close{
        position:absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
    .right{
        width: 100vw;
    }
    .cover img{
        height: 50px;
        width: 50px;
    }
    .playbar{
        height: 200px;
        width: 90vw;
    }
    .seekbar{
        width: 90vw;
    }
    .hamburger{
        display: block;
    }
    .right{
        margin: 0;
    }
    .card{
        width: 25vw;
    }
    .cardcontainer{
        margin: 0;
        justify-content: center;
    }
    .close{
        display: block;
    }
    .abovebar{
        flex-direction: column;
        
        align-items: center;
    }
    .cardContainer{
        max-height: 50vh;
    }
}
@media (max-width:500px){
    .card{
        width: 75vw;
    }
    .cardContainer{
        display: flex;
        justify-content: center;
    }
}
