.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
    color: aqua;
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* Webkit browsers (Chrome, Safari) */
.cardcontainer{
    overflow-x:hidden ;
}
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #444; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #333; /* Space around the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background: #222; /* Color of the scrollbar track */
    border-radius: 10px; /* Roundness of the scrollbar track */
    border: 2px solid #111; /* Space around the scrollbar track */
}
